<div *ngFor="let book of books">
  <md-card class="book-card">
    <md-card-header>
      <img md-card-image src={{book.volumeInfo.imageLinks.smallThumbnail}}>
      <md-card-title>{{book.volumeInfo.title}}</md-card-title>
      <md-card-subtitle>AUTHORS</md-card-subtitle>
      <md-card-subtitle>AUTHORS</md-card-subtitle>
    </md-card-header>
    <img md-card-image src={{book.volumeInfo.imageLinks.smallThumbnail}}>
    <md-card-content>
      <p>
        BOOK DESCRIPTION
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
