.books-container {
  width: 50%;
  align-self: center;
  margin: auto;
}

.root-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.book-card {
  margin-top: 5px;
}

body {
  background-color: #607D8B;
}
